:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --global--size: 16px;
  --anim--hover-time: 400ms;
  --anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #e3e3e3 0%, #d7d7d7 100%);
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  font-size: var(--global--size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: visible;
}

button {
  font-family: inherit;
}

li {
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1.2rem;
}

p {
  color: #444;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #333;
  letter-spacing: -0.05em;
}

@property --angle-1 {
  /* Defs */
  syntax: "<angle>";
  inherits: false;
  initial-value: -75deg;
}

@property --angle-2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: -45deg;
}